body {
    font-family: 'Georgia', serif;
    background-color: #faf3e0;
    color: #5e503f;
    margin: 0;
    padding: 0;
    background-image: url('https://www.publicdomainpictures.net/pictures/270000/nahled/old-library-background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 700px;
    margin: 150px auto;
    padding: 20px;
    background-color: rgba(250, 243, 224, 0.9);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
    border: 3px solid #d9b382;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #5e503f;
    text-shadow: 2px 2px 4px #d9b382;
}

input[type="password"], input[type="text"] {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #d9b382;
    border-radius: 8px;
    font-size: 18px;
    background-color: #fff3cd;
    color: #5e503f;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    background-color: #5e503f;
    color: #faf3e0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #d9b382;
}

#lista-livros a {
    display: block;
    margin: 15px 0;
    font-size: 22px;
    text-decoration: none;
    color: #5e503f;
    font-weight: bold;
}

#lista-livros a:hover {
    text-decoration: underline;
}

#mensagem {
    margin-top: 15px;
    color: red;
